@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Merienda:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
}
.container{
    border-top: 3px solid rgb(216, 104, 104);
    border-bottom: 3px solid rgb(212, 115, 115);

}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    top: 0;
    width: 100%;
    /* font-family: 'Kurale', serif; */
    font-family: 'Merienda', cursive;
    font-size: 13px;
}

li {
  float: right;
  text-align: center;

}

ul .logo {
    float: left;
    font-family: 'Rubik Microbe', cursive;
    font-size: 20px;
    
    color: black;
}

li a {
    display: block;
    color: rgb(3, 1, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }